{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card align-self-center mt-5">
                <form method="post">
                    <div class="card-header">
                        Please sign in
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                               class="form-control"
                               required
                               autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary col" type="submit">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
